.Menu {
  display: flex;
  list-style: none;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
}

.MenuContainer {
  width: 100%;
}

@media (min-width: 500px) {
  .Menu {
    flex-flow: row;
    height: 100%;
  }
  .MenuContainer {
    height: 100%;
  }
}
