.Burger {
  width: 280px;
  height: 280px;
  margin: auto;
  text-align: center;
  overflow: scroll;
  font-size: 18px;
}

@media (min-width: 440px) and (min-height: 400px) {
  .Burger {
    width: 400px;
    height: 400px;
  }
}
