.ShippingPage {
  width: 100%;
  padding: 0px;
  text-align: center;
  row-gap: 12px;
}

.Title h2,
p {
  margin: 0px;
  padding: 0px;
}

.Title p {
  font-size: 16px;
  line-height: 130%;
  color: #666;
}

.Title {
  display: grid;
  padding: 16px;
  margin: 0px auto;
  row-gap: 8px;
}

.Buttons {
  display: inline-flex;
  column-gap: 12px;
  padding: 0px;
}

@media (min-width: 510px) {
  .ShippingPage {
    width: 500px;
    margin: 0px auto;
  }
}
