* {
  margin: 0px;
  padding: 0px;
}

.Modal {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 70%;
  z-index: 500;
  display: inline-block;
  background-color: #efefef;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 30px 30px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 24px;
  transition: all 0.3s ease-in-out;
}
