.SummaryContainer {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.SummaryContainer div {
  padding: 4px 0px;
}

p {
  width: 100%;
  line-height: 130%;
}

h2 {
  margin-bottom: 8px;
}

.TotalPrice {
  text-align: right;
}

.SummaryContainer ul li {
  display: flex;
}

ul li div {
  max-width: 400px;
  display: flex;
  flex: 1;
}

.Count {
  max-width: 60px;
  display: flex;
  flex: 0.5;
}

.Amount {
  max-width: 60px;
  display: flex;
  flex: 0.5;
}

ul li .Amount {
  display: flex;
  justify-content: flex-end;
}

.DeliveryCost {
  max-width: 480px;
  display: flex;
  justify-content: space-between;
}

.DeliveryCost .Value {
  text-align: right;
}

.DeliveryCost div {
  display: inline-block;
  width: 120px;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.TotalPrice {
  font-size: 18px;
}
