.BuildControls {
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 20px 0;
  font-size: 18px;
}

.OrderButton {
  background-color: #101010;
  color: #fff;
  display: block;
  font: inherit;
  height: 52px;
  padding: 0 32px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.04);
}

.OrderButton:hover {
  background-color: #333;
}

.OrderButton:disabled {
  background-color: #f4f4f4;
  color: #ccc;
  border: none;
  cursor: default;
}

.OrderButton:hover:disabled {
  background-color: #efefef;
  box-shadow: none;
  color: #ccc;
  cursor: not-allowed;
}
